<html >
<head>
    <title>Medium</title>

<!--dependencies-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!--js-->
    <script src="js/app.js"></script>
    <!--css-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body ng-app="app" ng-controller="appController">
<!--

<div class="wrapper">
    <div ng-bind-html="content"></div>

    <div class="tooltip"> I am the tooltip </div>
</div>
-->


<div class="container">

    <br/>
    <br/>
    <br/>

    <h1>BLOG</h1>


    <br/><br/>
    <div id="wrapper" ng-bind-html="blog.content"></div>
    <div class="tooltip">
        <div style="cursor: pointer;"
             data-toggle="modal"
             data-target="#response">
            <i class="fa fa-comments"
               style="margin: 10px; font-size: 30px" class="small material-icons"
            ></i>

        </div>
    </div>
    <div>
        <h1> Comments</h1>
        <div ng-repeat="comment in blog.comments">
            <div class="row bg-primary">
                <div class="col col-md-11">
                    <div  style="padding: 10px">
                        <p style="font-size: 20px; " >{{comment.paragraphContent}}</p>

                    </div>

                </div>
                <div class="col col-md-1 " style="cursor: pointer" ng-click="deleteComment(comment._id)">
                    <i class="fa fa-times" style="float: right !important;margin: 10px !important;"></i>

                </div>

            </div>
            <div class="row bg-success" style="padding: 10px">
                <p > {{comment.paragraphComment}}</p>

            </div>
            <hr>
            <br>
        </div>

    </div>

</div>

<!-- Add Project MODAL -->
<div class="modal fade" id="response" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-heading font-museo">Give Response</h3>
                <h4 style="color: gray;"> {{selectedString}}</h4>

                <button type="button" class="close button-cross" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">

                <div >
                <textarea class="form-control" ng-model="comment">

                </textarea>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-g-blue text-white"
                        ng-click="postComment(comment)"
                >Create</button>
            </div>



        </div>
    </div>
</div>


</body>
</html>